<div class="container">
  <p>
    Post list by keyword
  </p>
  <div class="row" *ngIf="posts">
    <div class="col-md-4" *ngFor="let post of posts.data">
      
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://fakeimg.pl/250x100/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/{{post.id}}">{{ post.title | titlecase }}</a></h5>
          <p class="card-text">{{ post.body}}</p>
          <a routerLink="/{{post.id}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
